.bose {
  padding-bottom: 170px;

  &__title {
    color: $title-color;
    font-family: "Gilroy-regular";
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 64.8px */
    letter-spacing: 1.08px;
    text-transform: uppercase;
    padding-bottom: 50px;
  }

  &__subtitle {
    color: $title-color;
    font-family: "Gilroy-regular";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 35px */
    padding-bottom: 20px;
  }
  &__description {
    color: $description-color;
    font-family: "Gilroy-regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 29px */
  }

  &__box2 {
    width: 380px;
  }

  &__box1 {
    display: flex;
    justify-content: space-between;
  }
}
