.footer {
  padding-bottom: 50px;
  padding-top: 72px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 70px;
    padding-top: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 52px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 145px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 267px;
    }
  }

  &__list1 {
    text-align: start;

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 50px;
    }
  }

  &__list2 {
    text-align: end;

    @media screen and (min-width: 768px) {
      text-align: start;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 50px;
    }
  }

  &__navigation {
    display: flex;
    gap: 30px;

    @media screen and (min-width: 768px) {
      gap: 139px;
    }

    @media screen and (min-width: 1200px) {
      gap: 50px;
    }
  }

  &__link {
    color: $footer-form-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 125%;

    @media screen and (min-width: 768px) {
      line-height: 250%;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }
  }

  &__number {
    color: $description-color;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    transition: 700ms cubic-bezier(0.38, 0, 0.22, 1);

    @media screen and (min-width: 768px) {
      padding-top: 95px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 12px;
    }

    &:hover {
      transform: translateY(-10px);
    }
  }
}
