.history {
  padding-top: 170px;
  padding-bottom: 170px;

  &__block1 {
    display: flex;
    gap: 150px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__title {
    color: $title-color;
    font-size: 54px;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    max-width: 40px;
  }

  &__block4 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__item {
    width: 400px;
  }

  &__text {
    color: $description-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 145%;
  }

  &__block2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__paragraph {
    color: $description-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 145%;
    max-width: 75%;
  }

  &__subtitle {
    color: $title-color;
    font-size: 28px;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 32px;
  }

  &__svg {
    fill: $bg-button-color;
    width: 34px;
    height: 25px;
    margin-bottom: 50px;
  }

  &__description {
    color: $boss-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 70%;
  }

  &__block3 {
    display: flex;
  }

  &__block5 {
    display: flex;
    flex-direction: column;
    width: 382px;
    margin-left: 260px;
    margin-top: 125px;
  }
}
