.price {
  padding: 196px 0 171px 0;
  transition: 700ms cubic-bezier(0.38, 0, 0.22, 1);
  @media screen and (max-width: 1199px) {
    padding: 100px 0 100px 0;
  }
  @media screen and (max-width: 767px) {
    padding: 52px 0 88px 0;
  }

  &__slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    scroll-snap-type: x mandatory;
  }

  &__btn {
    margin: 50px 0;
    background-color: transparent;
    width: 70px;
    height: 70px;
    transition: 700ms cubic-bezier(0.38, 0, 0.22, 1);
    cursor: pointer;
    @media screen and (max-width: 1199px) {
      margin: 32px 0 40px 0;
      width: 58px;
      height: 58px;
    }
    @media screen and (max-width: 767px) {
      margin: 32px 24px 32px 0;
      width: 44px;
      height: 44px;
      padding: 0;
    }
    &:hover {
      transform: scale(1.2);
    }

    &.active {
      opacity: 1;
      transform: scale(1.2)
    }

    &:not(.active) {
      opacity: 0.5;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @media screen and (min-width: 768px) {
      margin-top: 30px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 40px;
    }
  }

  &__box {
    display: flex;
    @media screen and (max-width: 1199px) {
      flex-direction: column-reverse;
    }
  }

  &__item:last-child {
    margin-left: 150px;
    @media screen and (max-width: 1199px) {
      margin-left: 0;
    }
  }

  &__slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    scroll-snap-align: start;
    transition: 700ms cubic-bezier(0.38, 0, 0.22, 1);


    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  }

  &__title2 {
    color: #e7e7e7;
    font-family: "Gilroy-Medium";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 64.8px */
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin-bottom: 32px;
    @media screen and (min-width: 1200px) {
      display: none;
    }
    @media screen and (max-width: 767px) {
      font-size: 24px;
    }
  }

  &__title {
    color: #e7e7e7;
    font-family: "Gilroy-Medium";
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 64.8px */
    letter-spacing: 1.08px;
    text-transform: uppercase;
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__faq {
    height: 52px;
    display: flex;
    align-items: center;
    border-top: 1px rgba(255, 255, 255, 0.1) solid;
    width: 400px;
    display: flex;
    gap: 109.25px;
    @media screen and (max-width: 1199px) {
      width: 618px;
      gap: 347.25px;
    }
    @media screen and (max-width: 767px) {
      width: 270px;
      gap: 0.59px;
    }
  }

  &__faq:last-child {
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
    width: 400px;
    margin-bottom: 52px;
    @media screen and (max-width: 1199px) {
      width: 618px;
    }
    @media screen and (max-width: 767px) {
      width: 270px;
      margin-bottom: 32px;
    }
  }

  &__text {
    width: 270.75px;
    color: $description-color;
    font-family: "Gilroy-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 20px */
  }

  &__svg {
    fill: $bg-button-color;
    transition: 700ms cubic-bezier(0.38, 0, 0.22, 1);
    &:hover {
      transform: rotate(360deg);
    }
  }

  &__price {
    color: #df3d3a;
    font-family: "Gilroy-Medium";
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 64.8px */
    letter-spacing: 1.08px;
    text-transform: uppercase;
    margin-bottom: 32px;
    @media screen and (max-width: 1199px) {
      font-size: 30px;
    }
    @media screen and (max-width: 767px) {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  &__button {
    width: 400px;
    height: 68px;
    background: $bg-button-color;
    color: $button-text-color;
    font-family: "Gilroy-Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    transition: 700ms cubic-bezier(0.38, 0, 0.22, 1);
    cursor: pointer;
    @media screen and (max-width: 1199px) {
      width: 294px;
      height: 58px;
    }
    @media screen and (max-width: 767px) {
      font-size: 16px;
      width: 270px;
    }
    &:hover {
      transform: translateY(-10px);
      background-color: $hover-button-color;
    }
    
  }


  &__item:last-child {
    display: flex;
    justify-content: center;
    background-color: $bg-image-color;
  }

  &__image {
    max-width: 700px;
    @media screen and (max-width: 1199px) {
      height: 446px;
    }
    @media screen and (max-width: 767px) {
      width: 270px;
      height: 265px;
    }
  }
}
