.sound {
  padding-bottom: 52px;

  @media screen and (min-width:768px) {
    padding-bottom: 100px;
  }
  @media screen and (min-width:1200px) {
    padding-bottom: 170px;
  }

  &__title {
    width: 103%;
    padding-bottom: 32px;
    color: $title-color;
    font-family: "Gilroy-regular";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.48px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      width: auto;
      font-size: 30px;
      letter-spacing: 0.6px;
      margin-right: 60px;
      padding-bottom: 32px;
      display: flex;
      flex-direction: row-reverse;
    }

    @media screen and (min-width: 1200px) {
      font-size: 54px;
      letter-spacing: 1.08px;
      margin-right: 80px;
      padding-bottom: 50px;
    }
  }

  &__subtitle {
    color: $title-color;
    font-family: "Gilroy-regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 35px */
    padding-bottom: 16px;

    @media screen and (min-width: 1200px) {
      font-size: 28px;
      padding-bottom: 20px;
    }
  }

  &__description {
    color: $description-color;
    font-family: "Gilroy-regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 17.5px */

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 20px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding-top: 32px;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 60px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 50px;
      gap: 40px;
    }
  }
  &__item {
    width: 280px;

    @media screen and (min-width: 768px) {
      width: 294px;
    }

    @media screen and (min-width: 1200px) {
      width: 508px;
    }
  }
}
