body {
  background: #191919;
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 10px;
  width: 290px;
  margin: 0 auto;
  outline: 1px solid red;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 1300px;
    padding: 0 20px;
  }
}

.button-svg {
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */

  border-radius: 100%; /* Rounded corners */
  rotate: -210deg;
  transition: 700ms cubic-bezier(0.38, 0, 0.22, 1);
    cursor: pointer;
  width: 50px;
  height: 50px;
  @media screen and (max-width: 768px) {
    width: 40px;
    height: 40px;
    bottom: 30px; /* Place the button at the bottom of the page */
  }
  &:hover {
    transform: scale(1.2);
    rotate: 390deg;
    opacity: 0.8;
  }
}

.button-a {
  color: white;
  font-family: "Gilroy-Regular";
}
