$description-color: rgba(255, 255, 255, 0.8);
$boss-color: rgba(255, 255, 255, 0.40);
$footer-form-color: rgba(255, 255, 255, 0.3);
$button-text-color: rgba(255, 255, 255, 0.90);
$faq-color: rgba(255, 255, 255, 0.10);
$checkbox-color: #E9EDFA;
$title-color: #E7E7E7;
$bg-button-color: #DF3D3A;
$hover-button-color: #B5302D;
$background-color: #191919;
$bg-image-color: #1D1D1D;
$price-dot-color: #000000;