<section id="capable" class="capable">
  <div class="container">
    <h2 class="capable__title">capable of so much</h2>
    <div class="capable__box">
    <ul class="capable__list">
      <li class="capable__item">
        <p class="capable__text">Ability to receive calls</p>
        <svg class="capable__icon">
          <use href="./image/desctop/symbol-defs.svg#icon-red-dot"></use>
        </svg>
      </li>
      <li class="capable__item">
        <svg class="capable__icon">
          <use href="./image/desctop/symbol-defs.svg#icon-red-dot"></use>
        </svg>
        <p class="capable__text">Rich and powerful sound</p>
      </li>
      <li class="capable__item">
        <svg class="capable__icon">
          <use href="./image/desctop/symbol-defs.svg#icon-red-dot"></use>
        </svg>
        <p class="capable__text">Active noise cancellation option</p>
      </li>
    </ul>
    <ul class="capable__list2">
      <li class="capable__item">
        <svg class="capable__icon">
          <use href="./image/desctop/symbol-defs.svg#icon-red-dot"></use>
        </svg>
        <p class="capable__text">Unsurpassed microphone system</p>
      </li>
      <li class="capable__item">
        <svg class="capable__icon">
          <use href="./image/desctop/symbol-defs.svg#icon-red-dot"></use>
        </svg>
        <p class="capable__text">Support of voice assistants</p>
      </li>
      <li class="capable__item">
        <svg class="capable__icon">
          <use href="./image/desctop/symbol-defs.svg#icon-red-dot"></use>
        </svg>
        <p class="capable__text">Bose AR Augmented Reality Audio <span class="capable__span">Platform</span></p>
      </li>
    </ul>
    </div>
  </div>
</section>
