<section class="choose-scientist acquaintance" id='10' name='Вчений'>
    <div class="container">
        <div class="choose-scientist__line"></div>
        <h2 class="choose-scientist__title">Обери вченого/их</h2>
        <ul class="choose-scientist__img-list">
            <li class="choose-scientist__img-item">
                <div class="choose-scientist__img-box" name="Albert" surname="Einstein" born="1879" dead=" 1955" id="1">
                    <img src="./img/albert-einstein.jpeg" alt="Albert Einshtein" class="choose-scientist__img-image">
                    <div class="choose-scientist__img-backdrop">
                        <p class="choose-scientist__img-info" id="1">Albert Einshtein <br>1879-1955</p>
                    </div>
                </div>
            </li>
            <li class="choose-scientist__img-item">
                <div class="choose-scientist__img-box" name="Isaac" surname="Newton" born="1643" dead="1727" , id="2">
                    <img src="./img/isaac-newton.jpeg" alt="Isaac Newton" class="choose-scientist__img-image">
                    <div class="choose-scientist__img-backdrop">
                        <p class="choose-scientist__img-info" id="2">Isaac Newton <br>1643-1727</p>
                    </div>
                </div>
            </li>
            <li class="choose-scientist__img-item">
                <div class="choose-scientist__img-box " name="Galileo" surname="Galilei" born="1564" dead="1642" id="3">
                    <img src="./img/galileo-galilei.jpeg" alt="Galileo Galilei" class="choose-scientist__img-image">
                    <div class="choose-scientist__img-backdrop">
                        <p class="choose-scientist__img-info" id="3">Galileo Galilei <br>1564-1642</p>
                    </div>
                </div>
            </li>
            <li class="choose-scientist__img-item">
                <div class="choose-scientist__img-box" name="Marie" surname="Curie" born="1867" dead="1934" id="4">
                    <img src="./img/marie-curie .jpeg" alt="Marie Curie" class="choose-scientist__img-image">
                    <div class="choose-scientist__img-backdrop">
                        <p class="choose-scientist__img-info" id="4">Marie Curie <br>1867-1934</p>
                    </div>
                </div>
            </li>
            <li class="choose-scientist__img-item">
                <div class="choose-scientist__img-box " name="Johannes" surname="Kepler" born='1571' dead="1630" id="5">
                    <img src="./img/johannes-kepler.jpeg" alt="Johannes Kepler" class="choose-scientist__img-image">
                    <div class="choose-scientist__img-backdrop">
                        <p class="choose-scientist__img-info" id="5">Johannes Kepler<br>1571-1630</p>
                    </div>
                </div>
            </li>
            <li class="choose-scientist__img-item">
                <div class="choose-scientist__img-box " name="Nicolaus" surname="Copernicus" born="1473" dead="1543"
                    id='6'>
                    <img src="./img/nicolaus-copernicus.jpeg" alt="Nicolaus Copernicus"
                        class="choose-scientist__img-image">
                    <div class="choose-scientist__img-backdrop">
                        <p class="choose-scientist__img-info" id="6">Nicolaus Copernicus <br>1473-1543</p>
                    </div>
                </div>
            </li>
            <li class="choose-scientist__img-item">
                <div class="choose-scientist__img-box" name="Max" surname="Planck" born="1858" dead="1947" id="7">
                    <img src="./img/max-planck.jpeg" alt="Max Planck" class="choose-scientist__img-image">
                    <div class="choose-scientist__img-backdrop">
                        <p class="choose-scientist__img-info" id="7">Max Planck<br>1858-1947</p>
                    </div>
                </div>
            </li>
            <li class="choose-scientist__img-item">
                <div class="choose-scientist__img-box" name="Katherine" surname="Blodgett" born="1898" dead="1979"
                    id="8">
                    <img src="./img/katherine-blodgett.jpeg" alt="Katherine Blodgett"
                        class="choose-scientist__img-image">
                    <div class="choose-scientist__img-backdrop">
                        <p class="choose-scientist__img-info" id="8">Katherine Blodgett <br>1898-1979</p>
                    </div>
                </div>
            </li>
            <li class="choose-scientist__img-item">
                <div class="choose-scientist__img-box " name="Ada" surname="Lovelace" born="1815" dead="1852" id="9">
                    <img src="./img/ada-lovelace.jpeg" alt="Ada Lovelace" class="choose-scientist__img-image">
                    <div class="choose-scientist__img-backdrop">
                        <p class="choose-scientist__img-info" id="9">Ada Lovelace<br>1815-1852</p>
                    </div>
                </div>
            </li>
            <li class="choose-scientist__img-item">
                <div class="choose-scientist__img-box" name="Sarah E." surname="Goode" born="1855" dead="1905" id="10">
                    <img src="./img/sarah-goode.jpeg" alt="Sarah E. Goode" class="choose-scientist__img-image">
                    <div class="choose-scientist__img-backdrop">
                        <p class="choose-scientist__img-info" id="10">Sarah E. Goode <br>1855-1905</p>
                    </div>
                </div>
            </li>
            <li class="choose-scientist__img-item">
                <div class="choose-scientist__img-box " name="Lise" surname="Meitner" born="1878" dead="1968" id="11">
                    <img src="./img/lise-meitner.jpeg" alt="Lise Meitner" class="choose-scientist__img-image">
                    <div class="choose-scientist__img-backdrop">
                        <p class="choose-scientist__img-info" id="11">Lise Meitner<br>1878-1968</p>
                    </div>
                </div>
            </li>
            <li class="choose-scientist__img-item">
                <div class="choose-scientist__img-box" name="Hanna" surname="Hammarström" born="1829" dead="1909"
                    id="12">
                    <img src="./img/hanna-hammarström.jpeg" alt="Maria Goeppert-Mayer"
                        class="choose-scientist__img-image">
                    <div class="choose-scientist__img-backdrop">
                        <p class="choose-scientist__img-info" id="7">Hanna Hammarström<br>1829-1909</p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="choose-scientist__text-box">
            <ul class="choose-scientist__first-text-list">
                <li class="choose-scientist__text-item">
                    <button class="choose-scientist__text-button" id="born-nineteenth-century">Які вчені народилися в 19
                        ст.</button>
                </li>
                <li class="choose-scientist__text-item">
                    <button class="choose-scientist__text-button" id="alphabetically">Відсортувати вчених за
                        алфавітом</button>
                </li>
                <li class="choose-scientist__text-item">
                    <button class="choose-scientist__text-button" id="number-past-years">Відсортувати вчених за
                        кількістю прожитих
                        років</button>
                </li>
                <li class="choose-scientist__text-item">
                    <button class="choose-scientist__text-button" id="born-latest">Знайти вченого, який народився
                        найпізніше</button>
                </li>
            </ul>
            <ul class="choose-scientist__sec-text-list">
                <li class="choose-scientist__text-item">
                    <button class="choose-scientist__text-button" id="">Які вчені зробили значні відкриття у <br>
                        вивченні
                        сили тяжіння та принципу дії важелів</button>
                </li>
                <li class="choose-scientist__text-item">
                    <button class="choose-scientist__text-button" id="">Знайти вчених, прізвища яких починаються на на
                        літеру
                        “С” </button>
                </li>
                <li class="choose-scientist__text-item">
                    <button class="choose-scientist__text-button" id="">Видалити всіх вчених, ім’я яких починається на
                        “А”</button>
                </li>
                <li class="choose-scientist__text-item">
                    <button class="choose-scientist__text-button" id="">Знайти вченого, який прожив найдовше і вченого,
                        <br>який прожив найменше</button>
                </li>
            </ul>
        </div>
        <button class="choose-scientist__text-button choose-scientist__text-button-last">Знайти вчених, в
            яких співпадають перші літери імені і прізвища</button>
    </div>
</section>