<section id="design" class="design">
  <div class="container">
    <div class="design__box">
      <picture>
        <source
          srcset="
            ./image/desctop/womenphones-desctop@1x.webp 1x,
            ./image/desctop/womenphones-desctop@2x.webp 2x
          "
          type="image/webp"
          media=" (min-width: 1200px)"
        />
        <source
          srcset="
            ./image/tablet/womenphones-tablet@1x.webp 1x,
            ./image/tablet/womenphones-tablet@2x.webp 2x
          "
          type="image/webp"
          media=" (min-width: 768px)"
        />
        <source
          srcset="
            ./image/mobile/womenphones-phone1x.webp 1x,
            ./image/mobile/womenphones-phone2x.webp 2x
          "
          type="image/webp"
          media=" (min-width: 320px)"
        />
        <img
          class="design__img"
          src="./image/desctop/womenphones-desctop@1x.webp"
          alt="womenphones"
        />
      </picture>
      <div class="design__subbox">
        <h2 class="design__title">Premium design and comfort</h2>
        <ul class="design__list">
          <li class="design__item">
            <h3 class="design__subtitle">11 levels of noise reduction</h3>
            <p class="design__description">
              With the new Bose Noise Canceling Headphone 700, you can smoothly
              increase or decrease the level of noise cancellation. You can be
              heard perfectly and you hear the interlocutor clearly, even in a
              noisy environment!
            </p>
          </li>
          <li class="design__item">
            <h3 class="design__subtitle">Comfort up to max level</h3>
            <p class="design__description">
              Stylish, lightweight stainless steel headband with soft, angled
              cups of headphones for comfortable seating. The inner side is made
              of soft gel lining that fits well to the head.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
