<section class="faq">
  <div class="container">
    <h2 class="faq__title">FAQ</h2>
    <ul class="faq__list">
      <li class="faq__item">
        <p class="faq__number">01</p>
        <h4 class="faq__paragraph">How to pair with a mobile device?</h4>
        <p class="faq__question">?</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="42"
          height="42"
          viewBox="0 0 42 42"
          fill="none"
          class="faq__svg"
        >
          <circle cx="21" cy="21" r="21" fill="white" fill-opacity="0.1" />
        </svg>
      </li>
      <li class="faq__item">
        <p class="faq__number">02</p>
        <h4 class="faq__paragraph">
          What is the wireless range of the Bose NC 700?
        </h4>
        <p class="faq__question">?</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="42"
          height="42"
          viewBox="0 0 42 42"
          fill="none"
          class="faq__svg"
        >
          <circle cx="21" cy="21" r="21" fill="white" fill-opacity="0.1" />
        </svg>
      </li>
      <li class="faq__item">
        <p class="faq__number">03</p>
        <h4 class="faq__paragraph">
          How do I fold the Bose NC 700 headphones for storage?
        </h4>
        <p class="faq__question">?</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="42"
          height="42"
          viewBox="0 0 42 42"
          fill="none"
          class="faq__svg"
        >
          <circle cx="21" cy="21" r="21" fill="white" fill-opacity="0.1" />
        </svg>
      </li>
      <li class="faq__item">
        <p class="faq__number">04</p>
        <h4 class="faq__paragraph">Does the guarantee work internationally?</h4>
        <p class="faq__question">?</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="42"
          height="42"
          viewBox="0 0 42 42"
          fill="none"
          class="faq__svg"
        >
          <circle cx="21" cy="21" r="21" fill="white" fill-opacity="0.1" />
        </svg>
      </li>
    </ul>
  </div>
</section>
