<section class="footer">
  <div class="container">
    <nav class="footer__navigation">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="" class="footer__link">Characteristics</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">History</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Reviews</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Payment and delivery</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Store addresses</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">FAQ</a>
        </li>
      </ul>
    </nav>
    <a href="8 (800) 111-11-11" class="footer__number">8 (800) 111-11-11</a>
  </div>
</section>
