<section class="football game">
  <div class="container">
    <div class="football__top-line"></div>
    <h2 class="football__title">Футбол</h2>
    <div class="football__score-box">
      <p class="football__first-score">00</p>
      <p class="football__two-dots">:</p>
      <p class="football__second-score">00</p>
    </div>
    <div class="football__box">
      <img src="./img/ball.png" alt="ball" class="football__img" />
      <img
        src="./img/football-gates.webp"
        alt="football gates"
        class="football__gates"
      />
      <img
        src="./img/football-gates.webp"
        alt="football gates"
        class="football__second-gates"
      />
    </div>
  </div>
</section>
<div class="football-backdrop football-transform">
  <div class="football-modal">
    <button class="football-modal__close">
      <svg class="football-modal__svg">
        <use href="./img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="football-modal__text">ГООООООООЛ!</p>
    <button class="football-modal__submit">Добре</button>
  </div>
</div>
