<footer class="footer">
  <div class="container">
    <nav class="footer__navigation">
      <ul class="footer__list1">
        <li class="footer__item">
          <a href="#" class="footer__link">Characteristics</a>
        </li>
        <li class="footer__item">
          <a href="#history" class="footer__link">History</a>
        </li>
        <li class="footer__item">
          <a href="#reviews" class="footer__link">Reviews</a>
        </li>
      </ul>
      <ul class="footer__list2">
        <li class="footer__item">
          <a href="" class="footer__link">Payment and delivery</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Store addresses</a>
        </li>
        <li class="footer__item">
          <a href="#faq" class="footer__link">FAQ</a>
        </li>
      </ul>
    </nav>
    <a
      href="https://uk.wikipedia.org/wiki/%D0%A2%D0%B5%D0%BB%D0%B5%D1%84%D0%BE%D0%BD"
      class="footer__number"
      >8 (800) 111-11-11</a
    >
  </div>
</footer>
