<section class="dino game">
  <div class="cnb__line"></div>
  <div class="container">
    <h2 class="dino__title">Google динозавр</h2>
    <p class="dino__tip">*Натисніть на ігрове поле щоб почати гру</p>
    <div id="gameContainer" class="dino__game-container">
      <p class="dino__score">Рахунок: <span id="scoreDisplay">0</span></p>
      <div class="dino__ground"></div>
      <div class="dino__character" id="dino"></div>
      <div class="dino__cactus" id="cactus"></div>
    </div>
    <p class="dino__losses">Програші: <span id="lossCounter">0</span></p>
    <div class="google-hi-backdrop google-hi-modal-hidden">
      <div class="google-hi-modal">
        <button class="google-hi-modal__close">
          <svg class="google-hi-modal__svg">
            <use href="./img/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
        <p class="google-hi-modal__text">Ви програли!</p>
        <button class="google-hi-modal__submit">Добре</button>
      </div>
    </div>
  </div>
  </section>
  