<section>
    <div class="guarantees__box1">
        <ul class="guarantees__list">
            <li class="guarantees__items">
                <picture>
                    <source
                      srcset="./image/desctop/whiteheadphones-desctop@1x.webp 1x, ./image/desctop/whiteheadphones-desctop@2x.webp 2x"
                      type="image/webp"
                      media=" (min-width: 1200px)"
                    />
                    <source
                      srcset="./image/tablet/whiteheadphones-tablet@1x.webp 1x, ./image/tablet/whiteheadphones-tablet@2x.webp 2x"
                      type="image/webp"
                      media=" (min-width: 768px)"
                    />
                    <source
                      srcset="./image/mobile/whiteheadphones-phone@1x.webp 1x, ./image/mobile/whiteheadphones-phone@2x.webp 2x"
                      type="image/webp"
                      media=" (min-width: 320px)"
                    />
                    <img class="guarantees__img" src="./image/desctop/whiteheadphones-desctop@1x.webp" alt="whiteheadphones" />
                  </picture>
            </li>
        </ul>
    </div>
    <div class="guarantees__box1">
        <ul class="guarantees__list">
            <h2 class="guarantees__title">
                Guarantees
            </h2>
            <li class="guarantees__items">
                90 Day Money Back Guarantee
            </li>
            <li class="guarantees__items">
                If you are not 100% satisfied with 
                a product, you can return it back 
                for a full refund.
            </li>
            <li class="guarantees__items">
                1 year warranty
            </li>
            <li class="guarantees__items">
                Regardless of your country of residence, if your headphones are broken, we will send you new ones.
            </li>
        </ul>
    </div>
</section>