<section class="guess-section numerical">
  <div class="container">
    <div class="guess__top-line"></div>
    <p class="guess__title">Вгадай число, яке загадав комп’ютер</p>
    <div class="guess__box">
      <div class="guess__position-box">
        <input
          placeholder="Введіть число"
          type="text"
          name="guessNumber"
          id="guess-number"
          class="guess__input"
        />
        <label for="guess-number" class="guess__number">
          <button type="button" class="guess__button">
            <svg class="guess__icon">
              <use href="../img/symbol-defs.svg#icon-search"></use>
            </svg>
          </button>
        </label>
      </div>
      <p class="guess__output-text green-color"></p>
    </div>
  </div>
</section>
