<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="container header__box">
            <a class="header__link" href="./index.html">
                <svg class="header__svg">
                    <use href="./image/desctop/symbol-defs.svg#icon-bose-logo-2"></use>
                </svg></a>
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link" href="#design">Characteristics</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#history">History</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#reviews">Reviews</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#price">Payment and delivery</a>
                </li>
            </ul>
            <button class="header__button js-open-menu" >
                <svg class="header__burger">
                    <use href="./image/desctop/symbol-defs.svg#icon-hamburger"></use>
                </svg>
            </button>
        </div>
    </header>
</body>

</html>