<div class="menu js-menu-container">
    <div class=" container menu__container">
      <div class="menu__header">
        <button class="menu__close js-close-menu button-close" type="button">
          <svg class="menu__close-svg">
            <use href="./image/desctop/symbol-defs.svg#icon-close-large"></use>
        </svg>
      </button>
      <a href="#" class="menu__link"><svg class="menu__svg">
        <use href="./image/desctop/symbol-defs.svg#icon-bose-logo-2"></use>
    </svg></a>
  </div>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">Characteristics</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">History</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Reviews</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Payment and delivery</a>
        </li>
      </ul>
    </div>
  </div>
  