<header class="header" id="header">
    <div class="container header__container">
        <svg class="header__logo">
            <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg>
        <ul class="header__menu">
            <li class="header__menu-item">
                <button class="header__mode-btn">
                    Інтерактив
                    <svg class="header__mode-svg">
                        <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
                    </svg>
                </button>
                <ul class="header__mode-list hidden-mode-list">
                    <li class="header__mode-option" id="numeric-mode">Числовий</li>
                    <li class="header__mode-option" id="game-mode">Ігровий</li>
                    <li class="header__mode-option" id="introductory-mode">Ознайомчий</li>
                </ul>
            </li>
            <li class="header__menu-item">
                <a href="#our-team" class="header__menu-link">Наша команда</a>
            </li>
            <li class="header__menu-item">
                <a href="#footer" class="header__menu-link">Контакти</a>
            </li>
        </ul>
        <label class="header__theme-btn">
            <input type="checkbox" id="theme-checkbox">
            <span class="header__theme-slider"></span>
        </label>
        <p class="header__greeting">Вітаємо, <span  id="header__name">User!</span></p>
    </div>
</header>