<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="main">
        <div class="container">
            <svg width="130" height="15.24">
                <use href="./images/symbol-defs.svg#icon-bose-logo-2"></use>
              </svg>
            <ul>
                <li>
                    <a href="#">Characteristics</a>
                </li>
                <li>
                    <a href="#">History</a>
                </li>
                <li>
                    <a href="#">Reviews</a>
                </li>
                <li>
                    <a href="#">Payment and delivery</a>
                </li>
            </ul>
        </div>
    </header>
</body>

</html>