<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="hero">
        <div class="container">
            <ul class="hero__list">
                <li class="hero__item">
                    <p class="hero__description">Noise cancellation headphones that are capable for a lot of things</p>
                    <p class="hero__description2">Up to 20 hours of playback</p>
                    <div class="hero__block">
                        <h1 class="hero__title">Headphones Bose NC 700</h1>
                        <button class="hero__button" type="button">ORDER</button>
                    </div>
                </li>
                <li class="hero__item">
                    <picture>
                        <source srcset="./image/desctop/blackheadphones-desctop@1x.webp 1x, ./image/desctop/blackheadphones-desctop@2x.webp 2x"
                          type="image/webp" media=" (min-width: 1200px)" />
                        <source srcset="./image/tablet/blackheadphones-tablet@1x.webp 1x, ./image/tablet/blackheadphones-tablet@2x.webp 2x"
                          type="image/webp" media=" (min-width: 768px)" />
                        <source srcset="./image/mobile/blackheadphones-phone1x.webp 1x, ./image/mobile/blackheadphones-phone2x.webp 2x"
                          type="image/webp" media=" (min-width: 320px)" />
                        <img class="hero__image" src="./image/desctop/blackheadphones-desctop@1x.webp" />
                      </picture>
                </li>
            </ul>
        </div>
    </section>
</body>

</html>