<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="hero">
        <div class="container">
                <p>Noise cancellation headphones that are capable for a lot of things</p>
                <p>Up to 20 hours of playback</p>
                <h1>Headphones Bose NC 700</h1>
                <button type="button">ORDER</button>
                <img src="./image/desctop/blackheadphones-desctop@1x.webp" alt="Black Headphones">
            
        </div>
    </section>
</body>

</html>