<div class="hi-backdrop">
    <div class="hi-modal">
        <button class="hi-modal__close">
            <svg class="hi-modal__svg">
                <use href="./img/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <p class="hi-modal__text">Привіт!
            Ви потрапили на сайт інтерактивних ігор та завдань
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
            Бажаємо Вам гарно провести час!
        </p>
        <lable class="hi-modal__lable" for="username">Введіть своє ім’я:</lable>
        <input type="text" class="hi-modal__input" id="username" placeholder="Ваше ім’я...">
        <button class="hi-modal__submit">Зберегти</button>
    </div>
</div>