<section id="history" class="history">
  <div class="container">
    <div class="history__block1">
      <div class="history__block4">
        <h2 class="history__title">brand creation history</h2>
        <ul class="history__list">
          <li class="history__item">
            <p class="history__text">
              The history of Bose Corporation began with disappointment. In
              1956, MIT graduate student Amar Bose bought one of the best stereo
              systems at the time for his home. After a few minutes of listening
              to the audio recording, his bewilderment turned to disappointment.
            </p>
          </li>
          <li class="history__item">
            <p class="history__text1">
              From Amar's point of view, the sound was so flat and unnatural
              that it was better not to listen to the music at all than to
              listen to it in such a distorted form.
            </p>
          </li>
        </ul>
      </div>
      <div class="history__block2">
        <picture>
          <source
            srcset="
              ./image/desctop/coupleman-desctop@1x.webp 1x,
              ./image/desctop/coupleman-desctop@2x.webp 2x
            "
            type="image/webp"
            media=" (min-width: 1200px)"
          />
          <source
            srcset="
              ./image/tablet/coupleman-tablet@1x.webp 1x,
              ./image/tablet/coupleman-tablet@2x.webp 2x
            "
            type="image/webp"
            media=" (min-width: 768px)"
          />
          <source
            srcset="
              ./image/mobile/coupleman-phone1x.webp 1x,
              ./image/mobile/coupleman-phone2x.webp 2x
            "
            type="image/webp"
            media=" (min-width: 320px)"
          />
          <img
            class="sound__img"
            src="./image/desctop/coupleman-desctop@1x.webp"
            alt="sunshine"
          />
        </picture>
        <p class="history__text2">
          From Amar's point of view, the sound was so flat and unnatural that it
          was better not to listen to the music at all than to listen to it in
          such a distorted form.
        </p>
        <p class="history__paragraph">
          Bose's frustration grew into a firm determination to build audio
          equipments that would reproduce sound with impeccable accuracy and
          naturalness
        </p>
      </div>
    </div>

    <div class="history__block3">
      <picture>
        <source
          srcset="
            ./image/desctop/man-desctop@1x.webp 1x,
            ./image/desctop/man-desctop@2x.webp 2x
          "
          type="image/webp"
          media=" (min-width: 1200px)"
        />
        <source
          srcset="
            ./image/tablet/man-tablet@1x.webp 1x,
            ./image/tablet/man-tablet@2x.webp 2x
          "
          type="image/webp"
          media=" (min-width: 768px)"
        />
        <source
          srcset="
            ./image/mobile/man-phone1x.webp 1x,
            ./image/mobile/man-phone2x.webp 2x
          "
          type="image/webp"
          media=" (min-width: 320px)"
        />
        <img
          class="sound__img"
          src="./image/desctop/man-desctop@1x.webp"
          alt="sunshine"
        />
      </picture>
      <div class="history__block5">
        <svg class="history__svg">
          <use href="./image/desctop/symbol-defs.svg#icon-untitled"></use>
        </svg>
        <p class="history__subtitle">
          Never stop dreaming. Always dream of the best, and think about how to
          achieve it.
        </p>
        <p class="history__description">Amar Bose is a company founder</p>
      </div>
    </div>
  </div>
</section>
