<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <h2>BOSE NC 700</h2>
            <button type="button"></button>
            <button type="button"></button>
            <h3>Availability in stores</h3>
            <h3>Characteristics</h3>
            <h3>Payment and delivery methods</h3>
            <h2>14 999 UAH</h2>
            <button type="button">ORDER</button>
            <img src="./image/desctop/blackprice-desctop@1x.webp" alt="Black Headphones for sale">
        </div>
    </section>
</body>
</html>