<section id="reviews">
    <div class="container">
      <div class="reviews__slider">
        
        <!-- Slide 1 -->
        <div class="reviews__slide">
          <div class="reviews__box1">
            <iframe class="reviews__youtube" src="https://www.youtube.com/embed/VqP11Ma_2Fk" title="Bose | Bose Noise Cancelling Headphones 700 | Everybody’s Talking" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

          </div>
          <div class="reviews__box2">
            <h2 class="reviews__title">REVIEWS</h2>
            <p class="reviews__title2">Bose Сorporation</p>
            <p class="reviews__txt">
              Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup, Bose Noise Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or just shut out the world for a few moments and relax.
            </p>
          </div>
        </div>
  
        <!-- Slide 2 -->
        <div class="reviews__slide">
          <div class="reviews__box1">
            <iframe class="reviews__youtube" src="https://www.youtube.com/embed/BUyLpf-u97Y" title="Bose Noise Cancelling Headphones 700 | Design and innovation as one" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <div class="reviews__box2">
            <h2 class="reviews__title">REVIEWS</h2>
            <p class="reviews__title2">Bose Сorporation</p>
            <p class="reviews__txt">
              Bose Noise Cancelling Headphones 700 deliver everything you expect — and things you never imagined possible. The perfect balance of quiet, comfort, and sound.
            </p>
          </div>
        </div>
  
        <!-- Slide 3 -->
        <div class="reviews__slide">
          <div class="reviews__box1">
            <iframe class="reviews__youtube" src="https://www.youtube.com/embed/NgtznBDFRUo" title="Bose | Power of Sound - Open Your Heart and Mind with Infinite Possibilities" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>          </div>
          <div class="reviews__box2">
            <h2 class="reviews__title">REVIEWS</h2>
            <p class="reviews__title2">Bose Сorporation</p>
            <p class="reviews__txt">
              Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup, Bose Noise Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or just shut out the world for a few moments and relax.
            </p>
          </div>
        </div>

        <div class="reviews__slide">
            <div class="reviews__box1">
              <img class="reviews__kotik" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfstlCtoquDUWZiVCIlcvXSKd4TUl6giEIYA&s" alt="kotik-mem">
              <h1 class="reviews__mem">MEOW</h1>
            </div>
          </div>
    
      </div>
      
      <!-- Controls -->
      <div class="reviews__controls">
        <button class="reviews__btn active" data-slide="1">01</button>
        <button class="reviews__btn" data-slide="2">02</button>
        <button class="reviews__btn" data-slide="3">03</button>
        <button class="reviews__btn" data-slide="4">04</button>
      </div>
    </div>
  </section>
  