<section>
    <div class="container">
    <div class="reviews__box">
    <div class="reviews__box1">
        <ul class="reviews__list">
            <li class="reviews__items">
                <picture>
                    <source
                      srcset="./image/desctop/whiteheadphones-desctop@1x.webp 1x, ./image/desctop/whiteheadphones-desctop@2x.webp 2x"
                      type="image/webp"
                      media=" (min-width: 1200px)"
                    />
                    <source
                      srcset="./image/tablet/whiteheadphones-tablet@1x.webp 1x, ./image/tablet/whiteheadphones-tablet@2x.webp 2x"
                      type="image/webp"
                      media=" (min-width: 768px)"
                    />
                    <source
                      srcset="./image/mobile/whiteheadphones-phone@1x.webp 1x, ./image/mobile/whiteheadphones-phone@2x.webp 2x"
                      type="image/webp"
                      media=" (min-width: 320px)"
                    />
                    <img class="reviews__img" src="./image/desctop/whiteheadphones-desctop@1x.webp" alt="whiteheadphones" />
                  </picture>
            </li>
        </ul>
    </div>
    <div class="reviews__box2">
        <ul class="reviews__list">
            <h2 class="reviews__title">
                REVIEWS
            </h2>
            <li class="reviews__items">
                <p class="reviews-txt">
                    Bose Сorporation
            </p>
            </li>
            <li class="reviews__items">
                <p class="reviews-txt">
                    Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup, Bose Noise Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or just shut out the world for a few moments and relax. 
            </p>
            </li>
            <li class="reviews__items">
                <p class="reviews-txt">
                1 year warranty
            </p>
            </li>
            <li class="reviews__itembtn">
                <button class="reviews__btn">
                    <a href="" class="reviews__link">
                        01 -
                    </a>
                </button>
            </li>
            <li class="reviews__itembtn">
                <button class="reviews__btn">
                    <a href="" class="reviews__link">
                        02 -
                    </a>
                </button><li>
            <li class="reviews__itembtn">
                <button class="reviews__btn">
                    <a href="" class="reviews__link">
                        03 -
                    </a>
                </button><li>
            <li class="reviews__itembtn">
                <button class="reviews__btn">
                    <a href="" class="reviews__link">
                        04 
                    </a>
                </button>
            </li>
        </ul>
    </div>
</div>
</div>
</section>