<section class="three-numbers numerical">
    <div class="container three-numbers__container">
        <div class="three-numbers__top-line"></div>
        <h2 class="three-numbers__title">Введіть 3 числа</h2>
        <ul class="three-numbers__list">
            <li class="three-numbers__item">
                <input type="number" class="three-numbers__input" placeholder="Введіть число" id="first-number">
            </li>
            <li class="three-numbers__item">
                <input type="number" class="three-numbers__input" placeholder="Введіть число" id="second-number">
            </li>
            <li class="three-numbers__item">
                <input type="number" class="three-numbers__input" placeholder="Введіть число" id="third-number">
            </li>
        </ul>
        <p class="three-numbers__text">
            Найбільше число, яке ви ввели - 
            <span class="three-numbers__result">
                (число)
            </span>
        </p>
    </div>
</section>