<section class="time-calculator numerical">
  <div class="container">
    <div class="time-calculator__top-line"></div>
    <h2 class="time-calculator__title">Калькулятор часу</h2>
    <div class="time-calculator__box">
      <div class="time-calculator__position-box">
        <input
          placeholder="Введіть число"
          id="time-input"
          type="text"
          class="time-calculator__input"
        />
        <label for="time-input" class="time-calculator__label">
          <button type="button" class="time-calculator__button">
            <svg class="time-calculator__icon">
              <use href="./img/symbol-defs.svg#icon-search"></use>
            </svg>
          </button>
        </label>
      </div>
      <div class="time-calculator__line"></div>
      <p class="time-calculator__output-text"></p>
    </div>
  </div>
</section>
<div class="time-calculator__modal time-calculator__transform">
  <p class="time-calculator__modal-text">Введіть число!</p>
</div>
