<section>
    <div class="container">
        <picture>
            <source
              srcset="./image/desctop/usewomen-desctop@1x.webp 1x, ./image/desctop/usewomen-desctop@2x.webp 2x"
              type="image/webp"
              media=" (min-width: 1200px)"
            />
            <source
              srcset="./image/tablet/usewomen-tablet@1x.webp 1x, ./image/tablet/usewomen-tablet@2x.webp 2x"
              type="image/webp"
              media=" (min-width: 768px)"
            />
            <source
              srcset="./image/mobile/usewomen-phone1x.webp.webp 1x, ./image/mobile/usewomen-phone2x.webp.webp 2x"
              type="image/webp"
              media=" (min-width: 320px)"
            />
            <img class="guarantees__img" src="./image/desctop/usewomen-desctop@1x.webp" alt="whiteheadphones" />
          </picture>
    </div>
</section>