.calculator {
    padding-top: 36px;
    padding-bottom: 36px;
  &__button {
    display: inline-flex;
    padding: 5px 10px;
    align-items: center; 
    justify-content: center; 
    gap: 10px;
    border-radius: 20px;
    background: var(--black);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: 27px;
    height: 25px;
  }

  &__button > p {
    color: var(--white);
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }

  &__title {
    color: var(--black);
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 36px;
  }

  &__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 38px;
  }

  &__input {
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    color: black;
    background: white;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  }

  &__box-button {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 72px;
  }

  &__active {
    background-color: var(--grey);
  }
}
