.check-year {
  padding-top: 36px;
  padding-bottom: 36px;

  &__title {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
  &__line {
    width: 536px;
    height: 1px;
    margin: 36px auto;
    background-color: black;
  }
  &__subtitle {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  &__box {
    display: flex;
    gap: 149px;
    justify-content: center;
    margin-top: 36px;
    align-items: center;
  }
  &__position-box {
    width: 160px;
    position: relative;
  }
  &__btn {
    position: absolute;
    top: 0;
    left: 200px;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    background: #000;
  }
  &__svg {
    width: 15px;
    height: 15px;
    fill: #000;
    stroke: #fff;
  }
  &__input {
    display: inline-flex;
    padding: 10px 45px 10px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #d7d7d7;
    border: none;
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));

    &::placeholder {
      color: #7e7e7e;
      font-family: "Montserrat Alternates";
      font-size: 12px;
      font-weight: 400;
    }
  }
  &__result {
    color: #000;
    text-align: right;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
    width: 230px;
  }
}
