.cnb {
  padding-top: 36px;
  padding-bottom: 36px;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: var(--black);
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 36px;
  }
  &__line {
    width: 536px;
    height: 1px;
    margin: 36px auto;
    background-color: var(--black);
  }
  &__choice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 38px;
    margin-left: 200px;
  }

  &__images {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    cursor: pointer;
  }

  &__results {
    margin-left: 70px;
  }

  &__results > p {
    color: var(--black);
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }

  &__images-active {
    border: 2px solid rgb(135, 135, 135);
    cursor: pointer;
  }

  &__button-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    width: 20px;
    height: 20px;
    margin-left: 50px;
    cursor: pointer;
  }

  &__result {
    margin-top: 36px;
    margin-bottom: 36px;
    opacity: 0;
  }

  &__check-result {
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #000;
    color: var(--white);
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
