.football .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.football__top-line {
  width: 536px;
  height: 1px;
  background-color: var(--black);
  margin-left: auto;
  margin-right: auto;
}

.football__title {
  color: var(--black);
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 36px;
}

.football__score-box {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.football__first-score,
.football__second-score {
  color: var(--black);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.football__box {
  width: 720px;
  height: 220px;
  background-color: #5abb58;
  border-radius: 37px;
  border: 2px solid var(--black);
  position: relative;
}

.football__img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 82px;
  left: 340px;
  transition: 1000ms all ease-in-out;
}

.football__gates {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 60px;
  left: -20px;
  transform: rotate(270deg);
}

.football__second-gates {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 60px;
  right: -20px;
  transform: rotate(90deg);
}
