.green-color {
  color: #039900;
}

.red-color {
  color: #900;
}

.guess__top-line {
  width: 536px;
  height: 1px;
  background-color: var(--black);
  margin-left: auto;
  margin-right: auto;
}

.guess__title {
  color: var(--black);
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  display: flex;
  margin-top: 36px;
}

.guess__box {
  display: flex;
  margin-top: 36px;
  justify-content: space-evenly;
  align-items: center;
  width: 627px;
  margin-right: auto;
  margin-left: auto;
}

.guess__position-box {
  position: relative;
}

.guess__input {
  display: flex;
  padding: 10px 45px 10px 10px;
  align-items: flex-start;
  gap: 10px;
  max-height: 35px;
  max-width: 150px;
  border-radius: 20px;
  background: #d7d7d7;
  border: none;
  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));

  color: var(--grey);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.guess__number {
  position: absolute;
  top: 0;
  left: 115px;
}

.guess__button {
  padding: 10px;
  border-radius: 0px 20px 20px 0px;
  background: var(--black);
  max-height: 35px;
}

.guess__icon {
  width: 15px;
  height: 15px;
  fill: transparent;
  stroke: var(--white);
}

.guess__output-text {
  text-align: right;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;

  width: 275px;
}

.guess__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 420px;
  right: 10px;
  width: 250px;
  height: 100px;
  width: 207px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--white);
  border: solid rgba(255, 1, 1, 0.365) 1.5px;
  box-shadow: rgba(255, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(248, 23, 23, 0.06) 0px 0px 0px 1px;
  transition-duration: 500ms;
  transform: translate(0);
}

.guess__modal-text {
  color: var(--black);
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 14px;
  font-weight: 400;
}

.guess__transform {
  transform: translate(150%);
  transition-duration: 500ms;
  transition-timing-function: ease-in;
}
