.three-numbers{
    font-family: "Montserrat Alternates";

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 36px;
        padding-bottom: 36px;
    }
    &__top-line{
        width: 536px;
        height: 1px;
        background-color: var(--black);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 36px;
    }
    &__title{
        color: var(--black);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 36px;
    }
    &__list{
        display: flex;
        justify-content: center;
        gap: 38px;
        margin-bottom: 36px;
    }
    &__input{
        padding: 10px 20px;
        max-width: 135px;
        border-radius: 20px;
        background: var(--light-grey);
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
        border: none;

        color: var(--grey);
        font-size: 12px;
        font-weight: 400;
        color:rgb(28, 28, 28);
    }
    &__text{
        color: var(--black);
        font-size: 12px;
        font-weight: 400;
    }
    &__input::-webkit-outer-spin-button,
    &__input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}