.time-calculator__top-line {
  width: 536px;
  height: 1px;
  background-color: var(--black);
  margin-left: auto;
  margin-right: auto;
}

.time-calculator__title {
  color: var(--black);
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;

  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.time-calculator__position-box {
  position: relative;
}

.time-calculator__box {
  display: flex;
	align-items: center;
	justify-content: center;
	gap: 33px;
	margin-top: 36px;
  margin-bottom: 36px;
}

.time-calculator__input {
  display: flex;
  padding: 10px 45px 10px 10px;
  align-items: flex-start;
  gap: 10px;
  max-height: 35px;
  max-width: 150px;
  border-radius: 20px;
  background: var(--light-grey);
  border: none;
  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));

  color: var(--grey);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.time-calculator__label {
  position: absolute;
  top: 0;
  left: 115px;
}

.time-calculator__button {
  padding: 10px;
  border-radius: 0px 20px 20px 0px;
  background: var(--black);
  max-height: 35px;
}

.time-calculator__icon {
  width: 15px;
  height: 15px;
  fill: transparent;
  stroke: var(--white);
}

.time-calculator__line {
  width: 100px;
  height: 0px;
  border: 1px dashed var(--black);
}

.time-calculator__output-text {
  color: var(--black);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}