body { 
	cursor: url("././img/cursor.webp"), auto;
}

.container { 
	width: 1090px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
}

.main { 
	background: url(././img/Group.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 0;
	display: flex;
	justify-content: center;
	background-color: #EEE;
}

.box { 
	background-color: var(--white);
	max-width: 1090px;
}